html{
  height: 100%;
}

html.show-nav body{
  overflow: hidden;
}

body {
  height: 100%;
  color: $cc-blue--dark;
  background: $white;
  font-family: $font-inter;
}

body.admin-bar .Nav--main{

  @include media-breakpoint-down(md){
    transform: translateY(-23px);
  }

}
