.HomeBanner {
    @include media-breakpoint-up(md) {
        height: calc(100vh - #{$header-height});
    }

    > .container {
        position: relative;
        @include media-breakpoint-up(md) {
            height: 100%;
        }

        > .row {
            @include media-breakpoint-up(md) {
                height: 100%;
            }
        }
    }
    &-title {
        @include font-size(45px);
    }

    &-linkContainer {
        margin-bottom: rem(10px);
    }

    &-linksContainer {
        display: flex;
        flex-direction: column;
    }

    &-textContent {
        margin-bottom: rem(20px);
    }

    // &-textContent,
    // &-images {
    //     padding-right: rem(20px);
    //     padding-left: rem(20px);
    // }

    &-textContent,
    &-images {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &-image {
        max-width: 100%;
        height: auto;
    }

    &-slider {
        overflow: hidden;
        position: relative;
    }

    &-sliderContainer {
        position: relative;
        height: auto;
        max-height: rem(592px);
    }

    .swiper-pagination {
        @include position(absolute, $bottom: -25px, $left: 50%);
        transform: translateX(-50%);
    }

    .swiper-pagination-bullet {
        background: $cc-blue;
        margin-right: rem(5px);

        &:focus {
            outline: none;
        }
    }

    &-mouseScrollContainer {
        position: absolute;
        bottom: 0;
        right: 25px;
        background: $cc-blue;
        display: flex;
        justify-content: center;
        align-items: center;
        @include dimensions(50px, 50px);
        transition: 0.4s all;
        opacity: 1;

        &--hide {
            opacity: 0;
        }
    }

    &-mouseScrollDown {
        width: 20px;
        height: 40px;
        box-shadow: inset 0 0 0 1px $white;
        border-radius: 25px;
        position: relative;
    }

    &-mouseScrollDown:before {
        content: '';
        position: absolute;
        width: 4px;
        height: 4px;
        background: $white;
        top: 4px;
        left: 8px;
        border-radius: 4px;
        animation-duration: 1.5s;
        animation-iteration-count: infinite;
        animation-name: scroll;
    }
}

@keyframes scroll {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translateY(20px);
    }
}
